Header {
  background-color: lightblue;
  text-align: initial;
  display: flex;
  justify-content: space-around;
  place-items: center;
  margin: 10px 10px;
  height: 20vh;
  border: 5px solid red;
}

Header img {
  height: 100%;
}

nav {
  height: fit-content;
}
